extends base 

block content 
    if errorMessage 
        span=errorMessage 
    div.editporfile__img
        img(src="/" + loggedInUser.avatarUrl).avatar
    form(method="POST", enctype="multipart/form-data").editprofile__data
        label(for="avatar") Avatar
        input(placeholder="Avatar", id="avatar", name="avatar", type="file", accept="image/*")
        input(placeholder="Name",name="name", type="text", required, value=loggedInUser.name)
        input(placeholder="Email",name="email", type="email", required value=loggedInUser.email)
        input(placeholder="Username",name="username", type="text", required value=loggedInUser.username)
        input(placeholder="Location",name="location ", type="text", required value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            a(href="change-password").change-password Change Password &rarr;
